<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="DataSource" value="VEERLA3\MSSQLSERVER2014"/>
        <add key="InitialCatalog" value="TDA"/>
        <add key="Username" value="textapp"/>
    </appSettings>    
</configuration>